@import '/variables';
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: -apple-system-font,
    "Helvetica Neue",
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "sans-serif";
    color: $common_font_color;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    color: $common_font_color;
    text-decoration: none;
    &:hover {
        color: $common_font_color;
    }
    &::visited {
        color: $common_font_color;
    }
}

html, body, div, p, h1, h2, h3, h4, h5, h6 {
    padding:  0;
    margin: 0;
}